@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

header {
    background-color: rgba(236, 54, 45, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 69px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > span {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
}

main {
    margin-top: 140px;
}

.quizzes-usuario-vazio{
    height: 181px;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quizzes-usuario-vazio span{
   color: rgba(185, 185, 185, 1);
   font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}

.criar-quizz-btn {
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: white;
    margin-top: 20px;
    width: 151px;
    height: 40px;
}

.criar-quizz-btn span{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #EC362D;
}


.quizzes-servidor, .quizzes-usuario {
    margin-top: 70px;
    margin-left: 110px;
    margin-right: 100px;
}

.quizz-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-usuario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quizzes-servidor span, .quizzes-usuario span{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color:rgba(0, 0, 0, 1);

}

.titulo-secao{
    display: flex;
}

.ion-icon{
    color: red;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}



.capa-Quizz{
    height:181px;
    width:330px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.image-Quizz > img{
    width:330px;
    height:181px;
    border-radius: 5px;
    object-fit: cover;
    position:relative;
    z-index:-1;
    display:block;
}

.titulo-Quizz{
    position: absolute;
    bottom: 30px;
    left: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    word-break: break-word;
    color: #FFFFFF;
    padding-right: 50px;

}

.quizzes-usuario{
    margin-top: 140px;
    margin-left: 140px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BABABA;
    opacity: 1; /* Firefox */
  }
.pagina-quizz{
    background-color: #E5E5E5;
    position: relative;
    z-index: 0;
}

.banner{
    margin-top: 70px;
    height: 227px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.imagem-banner{
    width: 100%;
}

.imagem-banner > img{
    height: 227px;
    width: 100%;
    object-fit: cover;
    position:relative;
    z-index:-1;
    display:block;
}

.tituloQuizz-selecionado{
    position: absolute;
    bottom: 90px;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    word-break: break-word;
    color: rgba(255, 255, 255, 1);


}

.todasAsPerguntas{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arcabouco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px 20px;
    background-color: white;
}

.perguntas{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.perguntas > span {
    font-family: Roboto;
    font-size: 23px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    word-break: break-all;
}

.alternativas{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.imgAlternativa {
    display: flex;
    justify-content: center;
}

.imgAlternativa > img{
    width: 330px;
    height: 176px;
}

.txtAlternativa{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    word-break: break-all;
}

.main-screen3 {
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    color: #000000;
}

.screen3-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
}

.card-forms {
    width: 600px;
    margin-top: 27px;
    padding: 21px 20px 24px 16px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.card-forms input {
    display: block;
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 24px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
    margin-bottom: 9px;
}

.card-forms input:focus {
    outline: none;
}



.card-forms label, .numero-pergunta {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}

.minimizado .numero-pergunta {
    margin-bottom: 0;
}

.aberto .numero-pergunta {
    margin-bottom: 12px;
}

.criar-perguntas-btn {
    width: 370px;
    height: 54px;
    margin-top: 80px;
    margin-bottom: 80px;

    background: #EC362D;
    border-radius: 15px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    text-align: center;

    color: #FFF5F4;
}

.main-screen3-2 .card-forms > .container-alternativas > label {
    margin-bottom: 24px;
}

.main-screen3-2 .card-forms > .container-alternativas > input[type="text"] {
    margin-bottom: 14px;
}

.main-screen3-2 .card-forms > .container-alternativas > input[type="url"] {
    margin-bottom: 30px;
}

.aberto ion-icon {
    display: none;
}

.card-forms.minimizado > .container-alternativas > input[type="text"],  .card-forms.minimizado > .container-alternativas > input[type="url"], .card-forms.minimizado > .container-alternativas > label {
    display: none;
}

.card-forms.minimizado > input[type="text"], .card-forms.minimizado > input[type="url"]{
    display: none;
}

.titulo-card {
    display: flex;
    justify-content: space-between;
}

.main-screen3-end {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capa-quizz-user {
    width: 500px;
    height: 266px;
    border-radius: 5px;
}

.title-fim {
    margin-bottom: 46px;
}

.capa-quizz-user > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.minimizado ion-icon {
    font-size: 26px;
}

.esbranquicado {
    background-color: white;
    opacity: 0.5;
}

.cor-falsa{
    color: red;
}

.cor-verdadeira{
    color: rgba(0, 156, 34, 1);
}

.voltar-home {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    background-color: #FAFAFA;
    border: none;
    text-align: center;
    color: #818181;
    margin-top: -66px;
}

.escondido {
    display: none;
}

/*MOBILE RESPONSIVO*/

@media(max-width: 600px){

    main {
        margin-top: 100px;
    }

    .quizzes-usuario-vazio{
        margin-left: 15px;
        margin-right: 15px;
    }

    .quizzes-servidor, .quizzes-usuario{
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 15px;
    }

    .quizz-container, .container-usuario {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;   
    }

    .image-Quizz {
        width: 100%;
    } 

    .image-Quizz > img{
        width:100%;
        
    }

    .capa-Quizz{
    
        width:100%;
   
    }

    .capa-quizz-user, .capa-Quizz.capa-quizz-user{
        width: 90%;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .image-Quizz.capa-quizz-user {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .main-screen3 {
        display: block;
    }

    .main-screen3-1, .main-screen3-2, .main-screen3-3, .main-screen3-end {
        width: 100%;
    }

    .card-forms {
        width: 100%;
        padding: 21px 20px 24px 16px;
    }

    .card-forms input {
        width: 100%;
    }

    .criar-perguntas-btn {
        font-size: 16px;
        width: 80%;
    }
    .imagem-banner > img{
        width:100%;
        
    }

    .imgAlternativa > img {
        width: 100%;
    }
}